body.woocommerce #primary {
    float: none;
    width: 100%;
}

#content .slider_home::after{
    content: "";
    clear: both;
    display: table;
}


.clearfix:after{
    display:block;
    content:'';
    clear:both;
}

#content .slider_home{
    min-height: 150px;
}

#page .col-full,
.home .col-full{
    max-width: 1140px;
}

/*header css*/
#masthead{
    background:#000000;
    padding-top: 0px;
}
#masthead .storefront-primary-navigation{
    background: #ffffff;
    height: 48px;
    line-height: 48px;
    border-bottom: solid 2px #cccccc;
}


#masthead .main-navigation ul.menu>li>a, .main-navigation ul.nav-menu>li>a{
    /*width: 71px;*/
    height: 15px;
    font-family: 'Lato', sans-serif;
    font-size: 12px;
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #333333;
    padding: 14px 25px 19px 0;
    text-transform: uppercase;
}

#masthead .site-header-cart .cart-contents{
    padding: 0;
}

.custom_cart_contents .count:before{
    display: table;
    content:"";
    background: url("../images/local_mall_black_24x24.png") center no-repeat;
    width: 24px;
    height: 24px;
    float: left;
    margin-top: 12px;
    margin-right:4px;
}

.custom_cart_contents .count{
    color: #333333;
    font-family: Roboto;
    font-size: 13px;
    font-weight: normal;
    font-style: normal;
    font-stretch: condensed;
    letter-spacing: normal;
    text-align: left;
    line-height: 18px;
}

.menu-cart{
    padding-right: 10px;
    position: relative;
    float: right;
    clear: right;
}

/*search css*/
.custom_woo_product_search:after{
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1;
    vertical-align: -.125em;
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    line-height: inherit;
    vertical-align: baseline;
    content: "\f002";
    position: absolute;
    top: 12px;
    right: 9px;
    line-height: 1;
    font-size: 12px;
    color: #f4f4f4;
}

#masthead > .col-full{
    padding: 20px 0 10px;
}

#masthead .widget_search form::before, .widget_product_search form::before{
    display: none !important;
}
#masthead .site-search{
    width: 218px;
    height: 30px;
    margin-top: 9px;
}

#masthead #woocommerce-product-search-field-0{
    background: #333333;
    padding:9px 0px 8px 15px;
    color: #f4f4f4;
}

#masthead ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #f4f4f4;
    opacity: 1; /* Firefox */
}

/*logo css*/
.logo_branding{
    display: block;
    margin: 0 auto;
    max-width: 227px;
    position: absolute;
    left: 0px;
    right: 0px;
}

.logo_branding .top_branding{
    width: 227px;
    height: 48px;
}

/*top header info*/
.left_heading_info{
    width: 42.8%;
    font-size: 13px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 36px;
    letter-spacing: normal;
    text-align: left;
    color: #cccccc;
    height: 36px;
    float: left;
}
.right_heading_info{
    width: 25%;

    line-height: 13px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    text-align: left;

    float: right;
}

.right_heading_info ul{
    margin: 10px 0 11px 0;
}

.right_heading_info ul:after{
    display: table;
    content: '';
    clear: both;
}

.right_heading_info ul li{
    list-style: none;
    float: left;

}

.header-content .right_heading_info ul li a{
    color: #cccccc;
    font-size: 11px;
    margin-left: 30px;
    text-align: right;
    text-transform: uppercase;
}

.heading_info{
    float: left;
    margin-right: 32px;
    line-height: 16px;
    margin-top: 10px;
    font-size: 13px;
    font-weight: 500;
}

.heading_info span{
    padding-right: 6px;
}

.header-content{
    background: #000000;
}

#masthead .secondary-navigation{
    float: right;
}

/*service css*/
.home.page-template .site-main{
    padding-top: 0px;
}

.service_item.col-4{
    width: 25%;
    float: left;
    padding-right: 12px;
}

.service_item.col-3{
    width: 33.3%;
    float: left;
}
.service_item.col-2{
    width: 50%;
    float: left;
}
.service_item.col-1{
    width: 100%;
    float: none;
}

.service_item{
    font-size: 14px;

    text-align: left;
}

.service_item .service_title{
    overflow: hidden;
    margin-top: 8px;
    color: #999999;
    line-height: 14px;
}

.service_item .icon_service{
    float: left;
    margin-right: 14px;
    margin-left:12px;
}
.service_item .icon_service:first-child{
    margin-left: 0px;
}

#service_list{
    width: 78%;
    display: block;
    margin: 0 auto 45px;
}

.page-template-template-homepage:not(.has-post-thumbnail) .site-main{
    padding-top: 42px!important;
}

/*css menu-homepage-category-display*/
#menu-homepage-category-display{
    margin: 0px;
}

#menu-homepage-category-display li{
    list-style: none;
    margin-left: 0px;
}

#menu-homepage-category-display .menu-item{
    float: left;
    width: 20%;
}

.category_home_title{
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    text-align: left;
    color:#333333;
    margin-bottom: 30px;
}

.menu-item-object-product_cat{
    text-align: center;
    padding: 30px 55px 0 0;
}

.menu-item-object-product_cat img{
    display: block;
    margin: 0 auto;
}

.menu-item-object-product_cat .category_name{
    line-height: 24px;
    font-size: 20px;
    font-weight: normal;
    color:#333333;
    text-align: center;
}